version: '3.4'
services:
  db:
    image: mongo:6.0.7
    ports:
      - "27017:27017"
    volumes:
      - dbdata:/data/db
    deploy:
      placement:
        constraints:
          - node.role == manager
    environment:
      MONGO_INITDB_ROOT_USERNAME: openstudio
      MONGO_INITDB_ROOT_PASSWORD: openstudio
  queue:
    image: redis:6.0.9
    ports:
      - "6379:6379"
    deploy:
      placement:
        constraints:
          - node.role == manager
    command: "redis-server --requirepass openstudio"
  web:
    image: nrel/openstudio-server:3.6.1-4
    ports:
      - "8080:80"
      - "80:80"
      - "443:443"
    environment:
      - OS_SERVER_NUMBER_OF_WORKERS=1
      - MAX_REQUESTS=10
      - MAX_POOL=10
      - QUEUES=analysis_wrappers
      - REDIS_URL=redis://:openstudio@queue:6379
      - MONGO_USER=openstudio
      - MONGO_PASSWORD=openstudio
      - SECRET_KEY_BASE=c4ab6d293e4bf52ee92e8dda6e16dc9b5448d0c5f7908ee40c66736d515f3c29142d905b283d73e5e9cef6b13cd8e38be6fd3b5e25d00f35b259923a86c7c473
    volumes:
      - osdata:/mnt/openstudio
    depends_on:
      - db
      - queue
    deploy:
      placement:
        constraints:
          - node.role == manager
    command: /usr/local/bin/start-server
  web-background:
    image: nrel/openstudio-server:3.6.1-4
    environment:
      - OS_SERVER_NUMBER_OF_WORKERS=1
      - QUEUES=background,analyses
      - REDIS_URL=redis://:openstudio@queue:6379
      - MONGO_USER=openstudio
      - MONGO_PASSWORD=openstudio
      - SECRET_KEY_BASE=c4ab6d293e4bf52ee92e8dda6e16dc9b5448d0c5f7908ee40c66736d515f3c29142d905b283d73e5e9cef6b13cd8e38be6fd3b5e25d00f35b259923a86c7c473
    volumes:
      - osdata:/mnt/openstudio
    depends_on:
      - db
      - web
      - queue
    deploy:
      endpoint_mode: dnsrr
      placement:
        constraints:
          - node.role == manager
    command: /usr/local/bin/start-web-background
  worker:
    image: nrel/openstudio-server:3.6.1-4
    environment:
      - QUEUES=simulations
      - COUNT=1
      - REDIS_URL=redis://:openstudio@queue:6379
      - MONGO_USER=openstudio
      - MONGO_PASSWORD=openstudio
      - SECRET_KEY_BASE=c4ab6d293e4bf52ee92e8dda6e16dc9b5448d0c5f7908ee40c66736d515f3c29142d905b283d73e5e9cef6b13cd8e38be6fd3b5e25d00f35b259923a86c7c473
    volumes:
      - /mnt/openstudio
    depends_on:
      - web
      - web-background
      - db
      - queue
      - rserve
    deploy:
      endpoint_mode: dnsrr
    command: /usr/local/bin/start-workers
  rserve:
    image: nrel/openstudio-rserve:3.6.1-4
    volumes:
      - osdata:/mnt/openstudio
    depends_on:
      - web
      - web-background
      - db
    deploy:
      endpoint_mode: dnsrr
      placement:
        constraints:
          - node.role == manager
    environment:
      - REDIS_URL=redis://:openstudio@queue:6379
      - MONGO_USER=openstudio
      - MONGO_PASSWORD=openstudio
      - SECRET_KEY_BASE=c4ab6d293e4bf52ee92e8dda6e16dc9b5448d0c5f7908ee40c66736d515f3c29142d905b283d73e5e9cef6b13cd8e38be6fd3b5e25d00f35b259923a86c7c473
  notebook:
    image: openstudio-jupyter
    ports:
      - "8888:8888"
    volumes:
      - osdata:/mnt/openstudio
    depends_on:
      - web
      - web-background
      - db
      - queue
      - rserve    
volumes:
  osdata:
    external: true
  dbdata:
    external: true
networks:
  default:
    driver: overlay
    ipam:
      driver: default
      config:
        - subnet: 172.28.0.0/16
